html {
	font-size: 16px;
	font-family: Source Sans Pro, helvetica;
}
body {
	width: 100%;
}
header {
	width: 100%;
	background-color: #fff;
	/*height: 10em;*/
}
main {
	height: 30em;
	background-color: #efefef;
}
section {

}
nav {
	height: 100%;
}
ul {
	display: inline-block;
}
li {
	display: inline-block;
	font-weight: 300;
}
p {
	font: Source Sans Pro,1.5em,200;
}
#logo {
	width: 15em;
	display: inline-block;
	text-align: center;
	padding: 0.5em 0;
}
h1 {
/*	font-family: Open Sans;
	font-size: 3em;
	font-weight: 700;
	font-stretch: condensed;*/
	font: bold normal extra-condensed 2em/1 coda;
	color: #80a7d4;
}
h2 {
/*	font-family: Source Sans Pro;
	font-size: 1em;
	font-weight: 100;
	font-stretch: extra-condensed;*/
	font: 100 normal extra-condensed 0.875em/1 Source Sans Pro;
	transform:scale(0.7,1);
	color: #848484;
}
h3 {

}
h4 {

}
a {
  text-decoration: none;
}
figure {

}
figcaption {

}
footer {

}


/* -------- basic end --------- */

li a {
	color: #848484;
}